<div class="frame">

<div class="rida">
   <div class="group">
     <div class="joonisval">
       <div class="joonis">
           
         
         
        <div class="tekstike">
         Sinu ettevõtte võrdlus teiste ettevõtetega
        </div>
        <br>
        <br>
        <div class="tekstike2"> 
          Võrdlus teiste ettevõtetega viiakse läbi piirkondade, tegevusalade ja suurusgruppide lõikes. Võrdluse aluseks on enamlevinud ärianalüütilised suhtarvud, mille suhtes vaadatakse sinu ettevõtte paiknemist ja seega antakse hinnang sinu ettevõtte seisule.
        </div>
        <br>
        <div class="tekstike2"> 
          Suhtarvude põhjal ettevõtte positsiooni hinnates ja seda hinnangut analüüsides on oluline silmas pidada, et suhtarvude väärtused on tinglikud, sõltuvad kontekstist ja selles küsimuses ei ole võimalik võtta ainuühest seisukohta ega teha liiga jäike järeldusi.
        </div>
         
       </div>
       
     

      </div>
     
   </div>
   <div class="tekstjanupp">
     <!--div class="graafikuke"-->
       

     <graaf12></graaf12>

     <!--/div-->

     <!--div class="nupp">
      <button>
      Vaata täpsemat põhjendust
      </button>
      </div-->  <!--Teksti kohta on stiiliinfot 224-->
   </div>
 </div>    

</div>